*.txt
*.pdf
*.html
*.png

# Data
*.csv
*.parquet

# GAMS
*.g00
*.lst
*.dat
*/Model/225*
gamsnext.cmd

*.gdx

# Julia
Manifest.toml
*.jl.cov
*.jl.*.cov
*.jl.mem
LocalPreferences.toml

# Editor/IDE
/.cursor/rules
.vscode/
*.swp
*.swo
*~

# Conopt
conopt*

# Python
*.pyc

# gamY
*.pkl
*.gmy

# LaTeX and LyX
*.lyx~
*.aux
*.log
*.out
*.synctex.gz